<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            
            <p *ngIf="modelInfo">Name: {{modelInfo.name}}, Code: {{modelInfo.code}}, Comment: {{modelInfo.comment}}</p>
            <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedComponents || !selectedComponents.length"></button> -->

        </ng-template>

        <ng-template pTemplate="right">

            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="components" [rows]="10" [paginator]="false" [globalFilterFields]="['name','code','type','checkpoint']" [loading]="loading" responsiveLayout="scroll"
        [(selection)]="selectedComponents" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Products</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText #textInput type="text" (input)="dt.filterGlobal(textInput.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    
                </th>
                <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Specs</th>
                <th>Comment</th>
                <th>Weight/Pcs</th>
                <th>Weight/All</th>
                <th>Photo</th>
                <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-component>
            <tr>
                <td>
                </td>
                <td>{{component.code}}</td>
                <td>{{component.name}}</td>
                <td>{{component.quantity}}</td>
                <td>{{component.unit}}</td>
                <td>{{component.specs}}</td>
                <td>{{component.comment}}</td>
                <td>{{component.weight}}</td>
                <td>{{component.weight * component.quantity}}</td>
                <td>
                    <p-image [src]="'assets/photo/' + component.photo" [preview]="true" [alt]="component.code"  width="100" class="shadow-4"></p-image>

                </td>
                <td>{{component.type}}</td>
                <td>{{component.checkpoint}}</td>
                <td>
                    <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(component)"></button> -->
                </td>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{components ? components.length : 0 }} components.
            </div>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


<h5>Add Component</h5>

<div class="formgroup-inline">
    <div class="field">
        <p-dropdown [options]="allComponents" [(ngModel)]="selectedComponent" optionLabel="code" [filter]="true" filterBy="code"
        [showClear]="true" placeholder="Select a Component">
        <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value" *ngIf="selectedComponent">
                <div>{{selectedComponent.code}} - {{selectedComponent.name}}</div>
            </div>
        </ng-template>
        <ng-template let-comp pTemplate="item">
            <div class="country-item">
                <div>{{comp.code}} - {{comp.name}}</div>
            </div>
        </ng-template>
        </p-dropdown>
    </div>
    <div class="field">
        <span class="p-float-label">
            <input [(ngModel)]="quantity" id="float-input" type="number" pInputText> 
            <label for="float-input">Quantity</label>
        </span>
    </div>
    <div class="field">
        <span class="p-float-label">
            <input [(ngModel)]="comment" id="float-input" type="text" pInputText> 
            <label for="float-input">Comment</label>
        </span>
    </div>
    <div class="field">
        <p-button label="Add" (onClick)="add()" ></p-button>
    </div>


</div>
