<div class="card">
    <h2>Serial Number</h2>
    <input type="text" pInputText [(ngModel)]="serial" (keyup)="change()">  
    <button pButton type="button" label="Kiritish" (click)="submit()" ></button>

</div>

<p-dialog [(visible)]="someError" [style]="{width: '450px'}" header="Bazaga kiritishda xatolik" [modal]="true" styleClass="p-fluid">
    <h3>{{errorText}}</h3>
</p-dialog>

<p-table [value]="gp5" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Serial</th>
            <th>Time</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-gp>
        <tr>
            <td>{{gp.serial}}</td>
            <td>{{gp.time}}</td>
        </tr>
    </ng-template>

</p-table>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <h3>Report by selected date</h3>
        </ng-template>

        <ng-template pTemplate="right">
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        </ng-template>
    </p-toolbar>
</div>

<div class="card" style="margin-top: 1%;">
    <div class="p-field p-col-12 p-md-4">
        <label for="basic">Date</label>
        <p-calendar inputId="basic" [(ngModel)]="date"></p-calendar>
        <button pButton type="button" label="Report" (click)="report()" ></button>
    </div>

</div>

<p-table [hidden]="!total" [value]="gpAll" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Serial</th>
            <th>Time</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-gp>
        <tr>
            <td>{{gp.serial}}</td>
            <td>{{gp.time}}</td>
        </tr>
    </ng-template>

</p-table>


<h3 [hidden]="!total">Total quantity in this period: {{quantity}}</h3>